*.pyc
*.DS_Store
*.pt
__pycache__/

bart-*
.env
.jupyter_local/
.vscode/*
!.vscode/settings.json
latex/
.conda-latex/
tests/*
!tests/run_real_2d_subject.py
!tests/run_real_3d_subject.py
data/*
!data/demo_motion-free_breast_image.png

demos_data/*.h5
runs/
*.orig
article/
