*.pyc
*.DS_Store
*.pt
__pycache__/

tests/artifacts/
bart-*
.env
.jupyter_local/
.vscode/*
!.vscode/settings.json
latex/
.conda-latex/
tests/*
!tests/test_configuration_validation.py
!tests/test_data_loading.py
data/*
!data/demo_motion-free_breast_image.png
demos_data/*.h5
runs/
*.orig
article/
!tests/test_output_management.py
